/**
 * Virgo
 */


body,
html {
    margin: 0px;
    padding: 0px;
}

body {
    visibility: hidden;
    background: #ffffff;
    color: #000000;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.4;
}

/**
 * Header
 * - Contains the header image, header text and navigation
 */

.site_header {
    background: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0;
    padding: 35px 35px 100px 35px;

    overflow-x: hidden;
    overflow-y: auto;

    color: #000;
    font-size: 18px;

    line-height: 1;
    text-rendering: optimizeLegibility;
    text-align: left;
    width: 170px;
    z-index: 999;
}

.site_header::-webkit-scrollbar {
    display: none;
}

/**
 * Header image and header text
 */

.header_image {
    padding-top: 0;
    padding-bottom: 1em;
}

.header_image img {
    border: 0;
    max-width: 100%;
    height: auto;
}

.header_text {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: none;
    font-weight: bold;
    letter-spacing: 0px;
    word-wrap: break-word;
    z-index: 999;
}

.header_text a {
    color: #000;
    text-decoration: none;
}

body:not(.mobile) .header_text a:hover {
    color: #0066ff;
    border-bottom: 0;
}

.header_text a:active {
    color: #000;
    border-bottom: 0;
}

/**
 * Navigation
 * - Contains navigation links and following
 */

.navigation {
    margin-top: 1em;
    padding-top: 60px;
    font-size: 13px;
    line-height: 1.4em;
    z-index: 10;
}

.navigation .following {
    color: #999999;
    margin-top: 2em;
}

.set_link.first {
    margin-top: 2em;
}

.set_link.last {
    margin-bottom: 2em;
}

.navigation .set_link.active a {
    color: #0066ff;
}

.navigation li.active a {
    color: #0066ff;
}

.navigation li.active {
    color: #0066ff;
}

.navigation span.set_name {
    font-weight: bold;
    color: #222;
}

.navigation a {
    color: #333333;
    text-decoration: none;
}

.navigation a:hover {
    color: #0066ff;
}

.navigation a:active {
    color: #000;
}

.navigation a.set_name {
    color: #222222;
    font-weight: bold;
}

.navigation a.set_name:hover {
    color: #0066ff;
}

.link_link a {
    color: #999;
}

.page_link a {
    color: #000;
}

.navigation ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}

.navigation li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/**
 * Tag filter
 * - Seen on filter
 */

.filter {
    font-size: 14px;
    margin-bottom: 25px;
}

.filter b {
    margin-right: 5px;
}

.filter a {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
    text-decoration: none;
}

.filter a:hover {
    border-bottom: 1px solid #0066ff;
    color: #0066ff;
}

.filter a:active {
    border-bottom: 1px solid #0066ff;
    color: #666;
}


/**
*  Project navigation
*/

body.open.start_project .project_nav {
    display: none;
}

body[data-pagetype="project"] .project_nav {
    display: block;
}

.project_nav {
    display: none;
    position: fixed;
    bottom: 25px;
    left: 27px;
    width: 188px;
    font-size: 0;
    line-height: 0;

    z-index: 1000;

    /* Disable selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.project_nav a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 8px;
    line-height: 0;
    font-size: 0;
}

.project_nav a[rel="prev_project"] img {
    width: 13px;
    height: 21px;
}

.project_nav a.show_index img {
    width: 24px;
    height: 21px;
}

.project_nav a[rel="next_project"] img {
    width: 13px;
    height: 21px;
}

.project_nav a img {
    border: none;
    opacity: 0.2;

    -webkit-transition: opacity .05s ease-in-out;
    -ms-transition: opacity .05s ease-in-out;
    transition: opacity .05s ease-in-out;
}

.project_nav a:hover img {
    opacity: 0.6;
}

.project_nav a:active img {
    opacity: 0.4;
}

.project_nav a:active {
    background: none;
}


/**
*  Content area
*/

.container {
    margin-left: 252px;
    padding-top: 24px;
    padding-right: 45px;
    min-width: 275px;
}

.project {
    display: none;
}

.project_header {
    position: relative;
    text-align: center;
    margin: 0 auto 0 auto;
    z-index: 99;
}

.project_title {
    font-size: 18px;
    display: block;
    line-height: 1.5;
    height: 42px;
    text-rendering: optimizeLegibility;
    margin: 0 auto 0 auto;
    color: #999;
    max-width: 700px;
    text-align: left;
}


body[data-pagetype="page"] .entry,
body[data-pagetype="project"] .entry .project_content .text:nth-child(1) {
    margin-top: 82px;
}

.entry {
    position: relative;
    margin: 0px 12px 0px 12px;
}

.project_content {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}


.container .project_content .splash {
    position: fixed;
    top: 0;
    left: 215px;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.project_content .splash img {
    display: none;
}

.project_content .slide.block {
    position: relative;
}

.project_content .block:after {
    content: " ";
    display: table;
    clear: both;
}

.project_content *[data-columnize]:not(.slideshow_thumbnails) img {
    padding: 20px 12px 0px 12px;
    width: 100%;
    height: auto;
}

.project_content>img {
    display: block;
    float: left;
    margin: 0 0 20px 0;
    border: 0;
}

.project_content .block img {
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.project_content iframe {
    float: left;
    margin: 0 0 20px 0;
}

.project_content .block iframe {
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    border: none;
}

.project_content br {
    clear: both;
}

.project_content a {
    color: #000000;
    text-decoration: underline;
}

.project_content a:hover {
    background-color: #ffff00;
    color: #000000;
    text-decoration: none;
}

.project_content a:active {
    background-color: #000000;
    color: #ffffff;
}

/**
 * Typography
 */

h1,
h2,
h3,
h4,
h5 {
    text-rendering: optimizeLegibility;
    display: block;
    margin: 0 0 10px 0;
    max-width: 905px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

blockquote {
    color: #666666;
    margin: 0;
}

.project_content p {
    margin: 0 auto;
    padding: 0;
}

/**
 * Slideshows
 */

.slideshow {
    text-align: center;
    float: left;
}

.slideshow img {
    margin: 0;
}

.slideshow_container {
    overflow: hidden;
    margin: 0 auto;
}

.slideshow.navigation_hidden .slideshow_navigation {
    display: none;
}

.slideshow_navigation {
    color: #ccc;
    font-family: sans-serif;
    font-size: 12px;
    position: relative;
}

.slideshow_navigation.slideshow_above {
    margin-bottom: 12px;
    margin-top: 32px;
}

.slideshow_navigation.slideshow_below {
    margin-top: 12px;
}

.slideshow_thumbnails:after,
.slideshow_navigation:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.project_content>.slide.block:first-child .slideshow_navigation.slideshow_above {
    top: -2px;
}

.slide.block .slideshow_navigation.slideshow_above {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    margin: 0;
}

.slide.block .slideshow_navigation.slideshow_below {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}

.slide.block .slideshow.thumbnails_active .slideshow_navigation.slideshow_above {
    position: relative;
    margin: 12px 0 0 0;
    top: auto;
    bottom: auto;
}

.slide.block .slideshow.thumbnails_active .slideshow_navigation.slideshow_below {
    position: relative;
    margin: 0 0 12px 0;
    top: auto;
    bottom: auto;
}

.slideshow_navigation a {
    cursor: pointer;
    color: #999;
    text-decoration: none;
    padding-bottom: 2px;
}

.slideshow_navigation a:hover {
    background: none;
    color: #333333;
}

.slideshow_navigation a:active {
    color: #999999;
}

.slideshow_navigation .slideshow_slash {
    margin: 2px;
}

.slideshow_navigation .slideshow_toggle_thumbnails {
    display: none;
    margin-left: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slideshow.slideshow_toggle_active .slideshow_navigation .slideshow_toggle_thumbnails {
    display: inline-block;
}

.slideshow_thumbnails {
    display: none;
}

.slideshow.thumbnails_active .slideshow_thumbnails {
    display: block;
}

.slideshow_thumbnails.slideshow_above {
    margin-bottom: 0px;
}

.slideshow_thumbnails.slideshow_below {
    margin-bottom: 0px;
}

.slideshow_thumbnails>*:not(img) {
    display: none;
}

.project_content .slideshow_thumbnails>img {
    display: inline-block;
    height: 120px;
    width: auto;
    margin: 8px;
    outline-offset: 2px;
    cursor: pointer;
}

.project_content .slideshow_thumbnails>img:hover {
    outline: 1px solid #ccc;
}

.project_content .slideshow_thumbnails>img:active {
    outline: 1px solid #999;
}

.slideshow_thumbnails[data-columnize] img {
    cursor: pointer;
    padding: 0 12px;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.slideshow_container {
    display: block;
    position: relative;

    /* Disable selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slideshow.container_hidden .slideshow_container {
    display: none;
}

.slideshow.container_hidden .slideshow_navigation {
    display: none;
}

.slideshow.thumbnails_active .slideshow_container {
    margin: 30px auto 48px auto;
}

.slideshow .slideshow_container>* {
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;

    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

.slideshow.caption_active:not(.container_hidden) .slideshow_caption:empty {
    display: none;
}

.slideshow.caption_active:not(.container_hidden) .slideshow_caption {
    display: block;
}

.slideshow_caption {
    display: none;
    clear: both;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    color: #666;
}

.slideshow.slideshow_center {
    text-align: center;
}


/** transition overrides **/

.slideshow.transition_fade .slideshow_container,
.slideshow.transition_none .slideshow_container,
.slideshow.transition_bottom-top .slideshow_container,
.slideshow.transition_top-bottom .slideshow_container {
    min-width: 100%;
}

.project_content .slideshow.transition_fade .slideshow_container>*,
.project_content .slideshow.transition_none .slideshow_container>* {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.project_content .slideshow.transition_bottom-top .slideshow_container>*,
.project_content .slideshow.transition_top-bottom .slideshow_container>* {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.project_content .slideshow.transition_left-right .slideshow_container>*,
.project_content .slideshow.transition_left-right .slideshow_container>* {
    top: 0;
    bottom: 0;
    margin: auto 0;
}

/**
 * Project footer
 */



.project_footer {
    font-family: Menlo, monaco, monospace;
    font-size: 11px;
    text-align: left;
    padding: 24px 0px 10px 0px;
    clear: both;
    color: #999;
    line-height: 1.5;
    max-width: 700px;
    margin: 0 auto;
    height: 24px;
}

.project_footer .tags span {
    margin: 0 3px;
}

.project_footer a {
    border-bottom: 1px solid #ccc;
    color: #999;
    cursor: pointer;
    padding-bottom: 1px;
    text-decoration: none;
}

.project_footer a:hover {
    background: none;
    border-bottom: 1px solid #000;
    color: #000;
}

.project_footer a:active {
    background: none;
    border-bottom: 1px solid #666;
    color: #666;
}

.project_footer .tags span:after {
    content: ",";
}

.project_footer .tags span:last-child {
    margin-right: 0px;
}

.project_footer .tags span:last-child:after {
    content: "";
}

.project_Footer .edit_site {
    margin: 0 8px;
}

.project_footer .edit_site a {
    border-bottom: 1px solid #ccc;
    color: #ccc;
}

.project_footer .edit_site a:hover {
    border-bottom: 1px solid #000;
    color: #000;
}

.project_footer .edit_site a:active {
    border-bottom: 1px solid #666;
    color: #666;
}

/**
 * Thumbnails
 */

.column {
    display: inline-block;
    vertical-align: top;
}

.thumbnails {
    font-size: 0;
    line-height: 0;
}

body.open .thumbnails {
    margin-top: 35px;
}

body[data-view="index"] .thumbnails {
    display: block;
}

.thumbnail {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 0 12px;
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
    outline-offset: -1px;
}

.thumbnail.default_thumb {
    /*width: 100%;*/
}

.thumbnail.default_thumb .thumb_image img {
    visibility: hidden;
    min-height: 200px;
}

.thumbnail.hidden {
    display: none;
}

.thumbnail img {
    height: auto;
}

.thumbnail>a {
    display: block;
    margin: 0;
    padding: 0;
}

.thumbnail a {
    text-decoration: none;
}

.thumbnail>a:active .thumb_image {
    -webkit-transform: translate(0, 1px);
    -moz-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    transform: translate(0, 1px);
}

.thumbnail a.active .thumb_image {
    outline: 2px solid #0066ff;
    outline-offset: -2px;
}


.thumbnail .thumb_image {
    background-color: #eeeeee;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
    display: inline-block;
}

.thumbnail .thumb_image img {
    border: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.thumbnail.default_thumb .thumb_image {
    background: #333;
    width: 100%;
}

.thumbnail.default_thumb .thumb_image img {
    visibility: hidden;
}

.thumb_info {
    margin-top: -1px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 11px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 9;
}

.thumb_info:before {
    background: rgba(255, 255, 255, 0.9);
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.thumbnail .loading {
    display: none;
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: center;
    z-index: 3;
}

.thumbnail .thumb_title {
    color: #000;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 1px;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    padding-top: 14px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}


.thumbnail .thumb_tags {
    color: #999999;
    font-size: 11px;
    line-height: 18px;
    font-family: Menlo, monaco, monospace;
    padding-top: 12px;
    text-align: left;
}

.thumbnail .thumb_tags span:after {
    content: ", ";
    color: #ccc;
}

.thumbnail .thumb_tags span:last-child:after {
    content: "";
}

.thumbnail .thumb_tags a {
    color: #aaaaaa;
    text-decoration: none;
}

.thumbnail .thumb_tags a:hover {
    border-bottom: 1px solid #000;
    color: #000;
}

.thumbnail .thumb_tags a:active {
    border-bottom: 1px solid #999;
    color: #999;
}

.thumbnail_padding>a {
    text-decoration: none;
}

.thumbnail .thumb_excerpt {
    font-size: 12px;
    text-align: left;
    padding-top: 12px;
    color: #999;
    line-height: 1.5;
}

.thumb_excerpt:empty,
.thumb_tags:empty,
.thumb_title:empty {
    display: none;
}

.show_index {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.show_index a {
    color: #000;
    text-decoration: none;
}

.show_index a:hover {
    text-decoration: underline;
}

.show_index a:active {
    color: #666;
}

/*
 * Search results
 */

#search {
    margin: 0;
    padding: 122px 70px 70px 270px;
    width: 670px;
}

body[data-view="project"] #search {
    display: none;
}

#search_form {
    position: absolute;
    z-index: 999;
    margin-left: 40px;
}

#search_form_results {
    padding-bottom: 90px;
}

.search_header {
    color: #000000;
    float: left;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 4px 0;
    width: 145px;
}

#search_term {
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #000000;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 5px;
    width: 220px;
}

#results_search_term {
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #000000;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 5px;
    width: 220px;
}

#search_results {
    float: left;
}

.result {
    clear: both;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 35px;
    float: left;
}

.search_title {
    padding-bottom: 8px;
}

.search_thumb {
    float: left;
    margin: 4px 25px 35px 0px;
}

.search_thumb img {
    width: 120px;
    height: auto;
}

.search_text {
    width: 500px;
    margin-left: 145px;
}

.search_title a {
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
}

.search_title a:hover {
    background: #ffff00;
    color: #000000;
    text-decoration: none;
}

.search_title a:active {
    background: #000000;
    color: #ffffff;
    text-decoration: none;
}

.search_tags {
    color: #999999;
    font-size: 12px;
    padding-top: 10px;
}

.search_tags span:after {
    content: ",";
}

.search_tags span:last-child:after {
    content: "";
}

.search_tags a {
    color: #999999;
    text-decoration: none;
}

.search_tags a:hover {
    background: none;
    color: #000000;
    text-decoration: underline;
}

.search_tags a:active {
    color: #666666;
}

/**
 * Video component
 */

.video_component {
    float: left;
    margin: 0 15px 15px 0;
}

/**
 * Audio component
 */

.project_content .audio_component {
    color: #777777;
    font-family: "Droid Sans Mono", Monaco, Monospace, Arial, san-serif;
    font-size: 10px;
    height: 30px;
    line-height: 26px;
    width: 300px;
    float: none;
    margin: 0 auto;
}

.audio_component .text {
    text-align: left;
}

.audio_component div {
    height: 26px;
}

.audio_component .border {
    border: 2px solid #aaaaaa;
    opacity: 0.5;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

.audio_component .vertical_border {
    background: #aaaaaa;
    opacity: 0.50;

    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

.audio_component .controls {
    top: 2px;
    left: 2px;
}

.audio_component .play_pause {
    background-image: url("../img/playpause.png");
    background-image: url("../img/playpause.svg"), none;
}

.audio_component .spectrum .spectrum_bar {
    background: #666666;
}

.audio_component .loading {
    background: #bbbbbb;
    opacity: 0.25;

    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
}

.audio_component .progress {
    background: #bbbbbb;
    border-right: 1px dotted #333333;
    opacity: 0.25;

    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
}

.audio_component .volume_slide.hover {
    background: #bbbbbb;
    opacity: 0.3;

    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
}

/*
 * Other
 */

.clear:after {
    content: "";
    display: table;
    clear: both;
}

body>.loading {
    display: none;
    position: fixed;
    top: 8px;
    left: 8px;
    z-index: 100;
}

#autopaginate_loader {
    text-align: center;
    padding: 60px 0;
}

#autopaginate_loader .loading {
    margin: 0 auto;
}

/* Admin and following icons — only seen by members */
.toolset {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

/* "Running on Cargo" */
.cargo_link {
    color: #000;
    font-size: 11px;
    font-family: sans-serif;
    position: fixed;
    opacity: 0.2;
    right: -16px;
    bottom: 85px;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    z-index: 99;
}

.cargo_link:hover {
    opacity: 0.6;
}

.cargo_link:active {
    opacity: 0.9;
}

.cargo_link a {
    color: #000;
    padding-bottom: 2px;
    text-decoration: none;
}

/**
 * Fullscreen button
 */

a#fullscreen {
    background-color: #fff;
    background-image: url("../img/fullscreen_open.png");
    background-image: url("../img/fullscreen_open.svg"), none;
    background-repeat: no-repeat;
    background-position: 67px 3px;
    border: 1px solid #ccc;
    color: #666;
    display: inline-block;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 11px;
    line-height: 18px;
    height: 19px;
    padding: 0 4px 0 5px;
    text-align: left;
    text-decoration: none;
    width: 74px;
}

a#fullscreen:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #999;
}

a#fullscreen:active {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #999;
}

/*
 * Fullscreen
 */

#fullscreen {
    clear: both;
}

#fullscreen.fullscreen_ie {
    line-height: 21px;
}

/**
 * Mobile layout
 */

body.tablet .site_header {
    outline: 2px solid white;
    outline-offset: -1px;
}


body.mobile {
    -webkit-text-size-adjust: none;
}

body.mobile .header_image img {
    max-height: 80px;
    max-width: 240px;
    width: auto;
    height: auto;
}

body.mobile .mobile_site_header {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0px;
    right: 0px;
}

.mobile_site_header {
    display: none;
}

body.mobile .site_header {
    position: relative;
    padding: 16px 16px 20px 16px;
    overflow: visible;
    width: auto;
}

body.mobile.scrolled .project_nav {
    display: none;
}

body.mobile.scrolled .navigation_toggle {
    opacity: 0.2;
}

body.mobile.scrolled .navigation_toggle.active {
    opacity: 1;
}

body.mobile .navigation_toggle {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.8);
}

body.mobile .navigation_toggle.active {
    background-color: transparent;
}

body.mobile .navigation_toggle img {
    display: block;
}

body.mobile .navigation_toggle .menu_icon {
    width: 18px;
    height: 18px;
    display: block;
    padding: 10px 10px 10px 10px;
}

body.mobile .navigation_toggle.active .menu_icon {
    display: none;
}

body.mobile .navigation_toggle .close {
    display: none;
    padding: 12.5px 10px 12px 10px;
    width: 18px;
    height: 18px;
}

body.mobile .navigation_toggle.active .close {
    display: block;
}

body.mobile .project_nav {
    display: none;
}


body.mobile .navigation {
    display: none;
    color: #ffffff;
    background: transparent;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    line-height: 14px;
    height: 100%;
    padding: 0 0 0 0;
    position: fixed;
    margin-top: 0px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

body.mobile .navigation .filter {
    font-size: 15px;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 14px 30px 14px 11px;
}

body.mobile .navigation .filter b {
    padding-right: 5px;
    max-width: 50%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.mobile .navigation .filter a {
    background: none;
    padding: 10px;
    text-transform: capitalize;
    display: inline;
    border: none;
}

body.mobile .navigation.active {
    display: block;
}

body.mobile .navigation a {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(0, 0, 0, 0.90);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    padding: 14px 11px;
    text-decoration: none;
}

body.mobile .navigation a:hover {
    background: rgba(51, 51, 51, 0.9);
    color: white;
}


body.mobile .set_link.first {
    padding: 0;
    margin: 0;
}

body.mobile .set_link.last {
    padding: 0;
    margin: 0;
}

body.mobile .navigation .set_link>span.set_name {
    color: rgb(255, 255, 255);
}

body.mobile .navigation .set_link>a.set_name {
    color: rgba(255, 255, 255, 1);
}

body.mobile .navigation .set_link.active>.set_name {
    color: rgba(255, 255, 255, 0.6);
}

/** Remove display: none; to show contents of Sets in Mobile view **/
body.mobile a.set_name+.set_wrapper {
    display: none;
}

body.mobile .set_wrapper {
    margin: 0;
    padding: 0;
}

body.mobile .set_wrapper li a {
    padding-left: 18px;
}

body.mobile .navigation .following {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.9);
    padding: 14px 30px 14px 11px;
}

body.mobile .navigation .following a {
    padding: 0;
    margin-right: 3px;
    display: inline;
}

body.mobile .container {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    margin-left: 0px;
}

body.mobile .entry {
    margin: 0px 8px;
}

body.mobile .project_title {
    font-size: 18px;
    height: 36px;
    padding: 0px 0px;
}

body.mobile .project_content {
    font-size: 16px;
    padding: 0px 0px;
}

body.mobile[data-pagetype="page"] .entry,
body.mobile[data-pagetype="project"] .entry .project_content .text:nth-child(1) {
    margin-top: 0px;
}

body.mobile .slideshow_navigation {
    font-size: 13px;
}

body.mobile .slide.block .slideshow_navigation.slideshow_below {
    bottom: 60px;
    text-align: left;
}

body.mobile .slide.block .slideshow_navigation.slideshow_above {
    top: 0px;
    text-align: left;
}

.slide.block .slideshow.thumbnails_active .slideshow_navigation.slideshow_below {
    bottom: 0px;
}


body.mobile .slideshow_thumbnails[data-columnize] img {
    padding: 0 8px;
    margin-bottom: 16px;
}

body.mobile .project_footer {
    padding: 16px 0px 5px 0px;
}


body.mobile .thumbnail {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
}


body.mobile .project_content .splash {
    left: 0px;
}

body.mobile .cargo_link {
    display: none;
}

body.mobile #search {
    padding: 20px 16px 16px 16px;
    float: none;
    width: auto;
}

body.mobile .search_header {
    font-size: 18px;
    width: auto;
}

body.mobile #results_search_term {
    clear: both;
    font-size: 18px;
    margin: 10px 0px 30px 0px;
    float: left;
    width: 220px;
}

body.mobile .result {
    float: none;
    font-size: 14px;
    line-height: 1.5;
}

body.mobile .result .search_thumb {
    padding-right: 0px;
    margin-right: 16px;
}

body.mobile .result .search_thumb img {
    width: 100px;
}

body.mobile .result .search_text {
    width: auto;
    margin-left: 116px;
}

body.mobile .result .search_tags {
    font-size: 14px;
}

/**
* Columnization
**/

[data-columnize] {
    visibility: hidden;
}